<div class="art-container">
    <div class="art-title">CÀ PHÊ PHA PHIN</div>
    <img class="art-img" src="/image/coffee/art.jpg" alt="nghệ thuật"></img>
    <div class="art-description">
        <p>Cà phê pha phin đến ngày nay vẫn được những tín đồ sành cà phê bình chọn là một cách pha ngon nhất bởi giữ được
        trọn vẹn đặc tính thượng hạng của hạt cà phê rang xay.</p>

        <p>Cà phê phin được pha bằng cách cho một lượng cà phê vừa đủ vào phin, dùng nắp gài ép nhẹ, chế lượng nước sôi vừa
        đủ và chờ đợi quá trình thẩm thấu diễn ra. Tầng nước sôi sẽ bắt đầu thẩm thấu qua cà phê một cách chậm rãi giúp
        cà phê đạt được độ chín vừa đủ để trích ly.</p>

        <p>Cách pha cà phê phin ngon thường bao gồm hai yếu tố chính: Thứ nhất, phải giữ được nước nóng thật kín và thật
        lâu trong quá trình ở trong phin. Thứ hai, cà phê trước khi pha cần có một chút thời gian để “nở” ra bằng cách
        chúng ta rót một ít nước sôi vào phin cà phê (không nhiều đến mức giọt cà phê có thể nhỏ xuống), khi đó các đặc
        tính thơm ngon trong hạt cà phê sẽ được hoà quyện trọn vẹn.</p>

        <p>Khoảnh khắc từng giọt cà phê từ phin rơi xuống khiến chúng ta cảm nhận được giá trị của sự chờ đợi. Thưởng thức
        vị cà phê truyền thống đậm đà cùng với giây phút ngắm nhìn từng giọt, từng giọt cà phê rơi cũng là một khoảng
        lặng bình yên giúp bạn lấy lại cân bằng giữa nhịp sống vội vã.</p>

    </div>
</div>