<div class="information-container grid">
    <ul class="information-tab-list">
        <li class="information-tab-item active">ĐẬM VỊ HẠT CÀ PHÊ RANG XAY</li>
        <li class="information-tab-item">HƯƠNG VỊ MẠNH MẼ</li>
        <li class="information-tab-item">HƯƠNG VỊ TINH TẾ</li>
        <li class="information-tab-item">CÀ PHÊ MÙI</li>
    </ul>
</div>
{{!-- Pane 1 --}}

<div class="information-pane-item grid active">
    <div class="itinerary-blog-container">
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">

                <div class="itinerary-blog-item-description">
                    Cà phê càng được rang sẫm màu hương vị càng trọn vẹn. Rang cà phê là một quá trình đòi hỏi sự tinh
                    tế từ
                    đôi bàn tay và sự am hiểu từng loại hạt cà phê của người nghệ nhân. Rang lửa nhỏ khiến cà phê chưa
                    chín
                    tới và đắng hơn, trong khi rang quá kỹ lại khiến cà phê cháy khét đánh mất những đặc tính thượng
                    hạng
                    vốn có. Trong quá trình rang đủ thời gian, những dinh dưỡng như proteins, enzymes mới sẽ tích tụ
                    phía
                    trong tạo nên phần chất của cà phê, làm cho cà phê đậm hơn, sánh hơn.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/coffee/information1.jpg" alt="Cà phê">
            </div>
        </div>
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">
                <div class="itinerary-blog-item-description">
                    Trên hành trình tìm kiếm những hạt cà phê ngon nhất, Phúc Long luôn chú trọng bốn đặc tính từ trái
                    cà
                    phê nhằm tôn trọng nguyên bản cho tách cà phê đậm vị.
                    - Hương thơm là mùi hương của hạt cà phê - thơm bao nhiêu hứa hẹn cho nhiều vị bấy nhiêu.
                    - Thể chất là khái niệm để chỉ độ đậm đà trong nước chiết xuất cà phê. cảm nhận thông qua đánh giá
                    của
                    người thưởng thức.
                    - Acid là hợp chất tạo nên vị chua thanh của cà phê.
                    - Hậu vị là cảm nhận vị cà phê còn đọng lại sau khi thưởng thức.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/coffee/information2.jpg" alt="Cà phê">
            </div>
        </div>
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">

                <div class="itinerary-blog-item-description">
                    Tách cà phê hoàn hảo được định nghĩa là tách cà phê có vị đắng đậm đà, chua thanh thoát, lan toả
                    hương
                    thơm nồng nàn, dễ dàng chinh phục vị giác của bất cứ ai.
                    Tách cà phê đậm vị luôn luôn là thức uống giữ vị trí nhất định trong lòng những tín đồ cà phê Việt,
                    dù
                    văn hoá thưởng thức có nhiều thay đổi theo sự phát triển từng ngày của xã hội.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/coffee/information3.jpg" alt="Cà phê">
            </div>
        </div>
    </div>
</div>
{{!-- Pane2 --}}
<div class="information-pane-item">
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/strongtaste1.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ ROYAL
            </div>
            <div class="content-description">
                Cà phê Royal là sự kết hợp hoàn hảo giữa ba loại hạt: Moka, Robusta và Culi theo tỉ lệ nhất định tạo nên
                sản phẩm hội tụ của sắc, hương và vị.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>

    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/strongtaste2.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ ROBUSTA
            </div>
            <div class="content-description">
                Cà phê Robusta còn gọi là cà phê Vối, đây là giống cà phê được trồng phổ biến tại Việt Nam, đặc biệt là
                khu vực Tây Nguyên. Việt Nam hiện là nước sản xuất và xuất khẩu cà phê Robusta đứng đầu thế giới. Hạt cà
                phê Robusta tròn, sậm màu, hàm lượng caffein khoảng 2 – 2.5%
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/strongtaste3.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ CULI
            </div>
            <div class="content-description">
                Cà phê Culi còn được gọi là Peaberry, có vị đắng gắt, hương thơm say đắm. Cà phê Culi là những trái cà
                phê đột biến có duy nhất một hạt từ các chủng loại thông thường như Arabica hay Robusta, chỉ chiếm
                khoảng 5% tổng số lượng cà phê trong một đợt thu hoạch, luôn được chọn lọc và rang riêng để đảm bảo chất
                lượng hoàn hảo.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
</div>
{{!-- Pane3 --}}
<div class="information-pane-item">
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/strongtaste1.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ MOCA
            </div>
            <div class="content-description">
                Cà phê Moka là giống cà phê rất khó trồng, thuộc chi Arabica, được trồng phổ biến tại Đà Lạt, Lâm Đồng,
                đặc biệt là Moka Cầu Đất. Ở Việt Nam, cà phê Moka được xếp vào sản phẩm thực sự quý hiếm bởi chất lượng
                và hương vị tuyệt vời: thơm sang trọng, chua thanh thoát.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>

    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/strongtaste2.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ ARABICA-CULI
            </div>
            <div class="content-description">
                Hương cà phê Arabica rất thơm, có vị chua, sau khi uống đọng lại cảm giác ngọt ở cổ họng. Arabica Cầu
                Đất có vị chua thanh xen lẫn với vị đắng nhẹ, nước pha màu nước nâu nhạt, trong trẻo của hổ phách. Mùi
                hương của Arabica rất thanh tao, quý phái, ...
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/strongtaste3.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ CHERRY
            </div>
            <div class="content-description">
                Cà phê Cherry còn được gọi là cà phê Mít. Hạt cà phê Cherry có màu vàng, sáng bóng rất đẹp. Hương vị tuy
                không đậm đà như Robusta, cũng không nồng nàn như Arabica, nhưng cà phê Cherry mang đặc trưng riêng:
                chua nhẹ, hơi chát, hàm lượng caffein thấp, cùng hương thơm thoang thoảng.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
</div>
{{!-- Pane4 --}}
<div class="information-pane-item">
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/smellcoffee1.png" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ CHOCOLATE
            </div>
            <div class="content-description">
                Cà phê Chocolate là sự kết hợp giữa hai dòng Moka và Robusta cùng hương Chocolate tạo nên sản phẩm thơm
                ngon, vị dịu ngọt mang đến cảm giác khoan khoái cho người thưởng thức.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>

    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/smellcoffee2.png" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ HAZELNUT
            </div>
            <div class="content-description">
                Cà phê Hazelnut là sự kết hợp hài hoà giữa cà phê Robusta và hương hạt Hazelnut - một lựa chọn hoàn hảo
                để khởi đầu một ngày mới.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/coffee/smellcoffee3.png" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                CÀ PHÊ VANILLA
            </div>
            <div class="content-description">
                Cà phê Vanilla là sự kết hợp giữa cà phê Robusta và hương vani Pháp, mang lại cho người thưởng thức vị
                dịu nhẹ.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
</div>