<div class="itinerary-container">
    <div class="itinerary-info">
        <div class="itinerary-title">
            HÀNH TRÌNH CỦA TÁCH CÀ PHÊ ĐẬM VỊ
        </div>
        <div class="itinerary-description">
            Tách cà phê đậm vị mà bạn đang thưởng thức, chính là kết quả của những nỗ lực không ngừng nghỉ của Phúc Long
            trong hơn nửa thế kỉ qua. Ít ai biết rằng, quy trình chế biến cà phê luôn đòi hỏi sự tỉ mỉ rất cao. Bất kỳ
            một mắt xích nào trong quy trình chế biến không được chú trọng cũng có thể làm cho cả chuỗi bị ảnh hưởng, từ
            khâu vun trồng đến các biện pháp diệt trừ sâu bệnh, cho đến khâu thu hoạch, chế biến, vận chuyển, rang xay,
            đóng gói và cuối cùng là tách cà phê đậm vị.
        </div>
    </div>

    <div class="itinerary-blog-container">
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">
                <div class="itinerary-blog-item-title">
                    Tinh khiết từ nguồn gốc
                </div>
                <div class="itinerary-blog-item-description">
                    Nuôi dưỡng sự thuần vị trong từng tách cà phê, Phúc Long đã không ngừng tìm kiếm và chọn lọc từ
                    những giống cà phê Arabica, Robusta tốt nhất. Tiên phong trong việc cung cấp cà phê tươi được đóng
                    gói tại nơi thu hoạch đến tận tay người thưởng thức. Chúng tôi biết rằng chất lượng của cà phê đầu
                    tiên được xác định bằng ba yếu tố cốt lõi: giống cây trồng, điều kiện đất trồng và độ cao của vùng.
                    Và hơn ai hết, chúng tôi hiểu rằng nguồn gốc tinh khiết là yếu tố quan trọng nhất để giữ gìn hương
                    vị đậm đà của cà phê.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/coffee/cà phê Phúc Long đậm vị 1.jpg" alt="Cà phê">
            </div>
        </div>
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">
                <div class="itinerary-blog-item-title">
                    Giữ gìn đặc tính thượng hạng của hạt cà phê
                </div>
                <div class="itinerary-blog-item-description">
                    Trân trọng giá trị truyền thống và giữ gìn đặc tính thượng hạng của hạt cà phê, hầu hết các công
                    đoạn trong quy trình sản xuất đều được Phúc Long thực hiện thủ công. Tất cả được tuân thủ nghiêm
                    ngặt đòi hỏi sự hoàn hảo từ bước khởi đầu.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/coffee/cà phê Phúc Long đậm vị 2.jpg" alt="Cà phê">
            </div>
        </div>
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">
                <div class="itinerary-blog-item-title">
                    Tôn trọng nguyên bản cho tách cà phê đậm vị
                </div>
                <div class="itinerary-blog-item-description">
                    Phúc Long sẽ luôn luôn đồng hành cùng bạn trên hành trình tìm kiếm những hạt cà phê ngon nhất, rang
                    chúng cho đến mức hoàn hảo. Và chúng tôi vẫn đang thực hiện công việc đó hàng ngày, tôn trọng nguyên
                    bản cho tách cà phê đậm vị, thuần chất Việt.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/coffee/Hanh trinh ca phe (3).jpg" alt="Cà phê">
            </div>
        </div>
    </div>
</div>