<!-- Footer -->
<footer class="footer grid">
    <div class="footer-info">
        <h3>Trụ sở chính:</h3>
        <p>Công ty CP Phúc Long Heritage - ĐKKD: 0316 871719
            do sở KHĐT TPHCM cấp lần đầu ngày 21/05/2021</p>
        <h3> Nhà máy:</h3>
        <p>D_8D_CN Đường XE 1, Khu Công Nghiệp Mỹ Phước III, phường Mỹ Phước, thị xã Bến Cát, tỉnh Bình Dương,
            Việt Nam</p>
        <h3>Địa chỉ: </h3>
        <p>42/24 - 42/26 Đường 643 Tạ Quang Bửu, phường 4, quận 8, Hồ Chí Minh</p>
        <h3>Điện thoại:</h3>
        <p>028 6263 0377 - 6263 0378</p>
        <h3>Fax:</h3>
        <p>(028) 6263 0379</p>
        <h3>Email:</h3>
        <p>Sales@phuclong.com.vn</p>
        <p>Info@phuclong.com.vn</p>
    </div>
    <div class="footer-signup">
        <div class="footer-signup-title">Đăng ký nhận tin khuyến mãi</div>
        <div class="footer-signup-form">
            <input class="footer-signup-input" rules="email" type="email" placeholder="Nhập email">
            <button class="footer-signup-btn">GỬI</button>
            <div class="message-error"></div>
        </div>

    </div>
    <div class="footer-social">
        <div class="language-list header-info-item">
            <a href="#" class="language-item">VN</a>
            <a href="#" class="language-item">EN</a>
        </div>
        <ul class="footer-social-list">
            <li><a href="" class="footer-social-item"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="" class="footer-social-item"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="" class="footer-social-item"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="" class="footer-social-item"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>