<!-- Header -->
<header class="header">
    <!-- Header-top -->
    <div class="header-top">
        <!-- Menu on mobile and tablet -->
        <i class="fa-solid fa-bars modal-icon hide-on-PC"></i>
        <div class="modal hide-on-PC">
            <i class="fa-solid fa-xmark modal-close"></i>
            <div class="modal-container">

                <ul class="nav-list">
                    <li><a href="/" class="nav-item">Trang chủ</a>

                    </li>
                    <li><a href="" class="nav-item">Cà phê</a> <i class="fa-solid fa-angle-down icon-down"></i>
                        <div class="nav-item-info">
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link">Hành trình tách cà phê đậm vị</a></li>
                                <li><a href="" class="nav-link">Cà phê Phúc Long</a></li>
                                <li><a href="" class="nav-link">Nghệ thuật pha chế</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="" class="nav-item">Trà</a> <i class="fa-solid fa-angle-down icon-down"></i>
                        <div class="nav-item-info">
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link">Hành trình tách trà đậm vị</a></li>
                                <li><a href="" class="nav-link">lá trà Phúc Long</a></li>
                                <li><a href="" class="nav-link">Cold Brew Tea-Trà ủ Lạnh-Phong cách trà mới</a>
                                </li>
                                <li><a href="" class="nav-link">Nghệ thuật pha chế</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="" class="nav-item">Thức uống</a> <i class="fa-solid fa-angle-down icon-down"></i>
                        <div class="nav-item-info">
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link">Thức uống</a></li>
                                <li><a href="" class="nav-link">Bánh tráng miệng</a></li>
                                <li><a href="" class="nav-link">Đồ ăn lạnh</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="" class="nav-item">Sản phẩm</a> <i class="fa-solid fa-angle-down icon-down"></i>
                        <div class="nav-item-info">
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Trà hộp</a></li>
                                <li><a href="/category/tra-tu-i-lo-c" class="nav-link">Trà túi lộc</a></li>
                                <li><a href="/category/tra-tu-i-tam-gia-c" class="nav-link">Trà túi tam giác</a></li>
                                <li><a href="/category/tra-ho-p-gia-y" class="nav-link">Trà hộp giấy</a></li>
                                <li><a href="/category/le-ho-p" class="nav-link">Lễ hộp</a></li>
                                <li><a href="/category/tra-ho-p-xa-m" class="nav-link">Trà hộp xám</a></li>
                            </ul>

                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Trà gói</a></li>
                                <li><a href="/category/tra-tha-i-nguyen" class="nav-link">Trà Thái Nguyên</a></li>
                                <li><a href="/category/tra-go-i-cao-ca-p" class="nav-link">Trà gói cao cấp</a></li>
                                <li><a href="/category/tra-va-n-ly-huong" class="nav-link">Trà Vạn Lý Hương</a></li>
                                <li><a href="/category/tra-den" class="nav-link">Trà đen</a></li>
                                <li><a href="/category/tra-xanh" class="nav-link">Trà xanh</a></li>
                                <li><a href="/category/tra-la-i" class="nav-link">trà lài</a></li>
                                <li><a href="/category/tra-sen" class="nav-link">Trà sen</a></li>
                            </ul>
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Trà lon</a></li>
                                <li><a href="/category/tra-lon-gia-y" class="nav-link">Trà lon giấy</a></li>
                                <li><a href="/category/tra-lon-gia-y-cao-ca-p" class="nav-link">Trà lon giấy cao
                                        cấp</a></li>
                                <li><a href="/category/tra-lon-thie-c" class="nav-link">Trà lon thiếc</a></li>
                                <li><a href="/category/tra-o-long-thuo-ng-ha-ng" class="nav-link">Trà ô long thượng
                                        hạng</a></li>
                            </ul>
                            <ul class="nav-item-info-column">
                                <li><a href="/category/ca-phe-set" class="nav-link">Cà phê set</a></li>
                                <li><a href="/category/ca-phe-phin-nhom" class="nav-link">Cà phê phin nhôm</a></li>
                                <li><a href="/category/ca-phe-mu-i" class="nav-link">cà phê mùi</a></li>
                                <li><a href="/category/ca-phe-ha-t" class="nav-link">cà phê hạt</a></li>
                            </ul>
                            <ul class="nav-item-info-column">
                                <li><a href="/category/ho-p-qua-te-t-2022" class="nav-link">Hộp quà Tết 2022</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="" class="nav-item">Khuyến mãi</a>
                    </li>
                    <li><a href="" class="nav-item">Về chúng tôi</a> <i class="fa-solid fa-angle-down icon-down"></i>

                        <div class="nav-item-info">
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Công ty</a></li>
                                <li><a href="" class="nav-link">Tầm nhìn</a></li>
                                <li><a href="" class="nav-link">Sứ mệnh</a></li>
                                <li><a href="" class="nav-link">Giá trị cốt lõi</a></li>
                                <li><a href="" class="nav-link">Lĩnh vực hoạt động</a></li>
                                <li><a href="" class="nav-link">Trà hộp xám</a></li>
                            </ul>

                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Tuyển dụng</a></li>
                                <li><a href="" class="nav-link">HTCH</a></li>
                                <li><a href="" class="nav-link">Kiosk</a></li>
                                <li><a href="" class="nav-link">Văn phòng</a></li>
                                <li><a href="" class="nav-link">Nhà máy</a></li>
                            </ul>
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Thư viện</a></li>
                                <li><a href="" class="nav-link">hình ảnh</a></li>
                                <li><a href="" class="nav-link">Video</a></li>
                                <li><a href="" class="nav-link">Hồ sơ công bố</a></li>
                                <li><a href="" class="nav-link">Công văn</a></li>
                            </ul>
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link nav-link-title">Liên hệ</a></li>
                                <li><a href="" class="nav-link">Hệ thống cửa hàng Phúc Long COFFEE AND TEA</a></li>
                                <li><a href="" class="nav-link">hệ thống cửa hàng Phúc Long KIOSK</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="" class="nav-item">Thẻ</a> <i class="fa-solid fa-angle-down icon-down"></i>

                        <div class="nav-item-info">
                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link">Đăng ký thẻ</a></li>
                                <li><a href="" class="nav-link">Hệ thống chương trình thẻ thành viên</a></li>
                            </ul>

                            <ul class="nav-item-info-column">
                                <li><a href="" class="nav-link">Điều khoản và điều kiện</a></li>
                                <li><a href="" class="nav-link">Điều khoản và điều kiện thẻ cashless</a></li>
                                <li><a href="" class="nav-link">Những câu hỏi thường gặp (FAQ)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/login" class="nav-item">
                            Đăng nhập
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="delivery-img" href="#">
            <img src="/image/delivery.png" alt="delivery">
        </a>
        <a class="header-logo" href="">
            <img src="/image/logo_1.png" alt="logo">
        </a>
        <div class="header-info hide-on-mobile-tablet">
            <a href="/login" class="header-login header-info-item">
                Đăng nhập
            </a>
            <div class="language-list header-info-item">
                <a href="#" class="language-item">VN</a>
                <a href="#" class="language-item">EN</a>
            </div>
            <div class="header-cart header-info-item">
                Giỏ hàng <i class="fa-solid fa-cart-shopping header-cart-icon">
                    <div class="header-cart-number">0</div>
                </i>

                <div class="my-cart">
                    <div class="my-cart-info">
                        <span class="title">Giỏ hàng của bạn</span>
                        <a href="" class="detail">Xem chi tiết</a>
                    </div>
                    <div class="my-cart-total">
                        Tổng tiền <div class="money">0Đ</div>
                    </div>
                    <a href="" class="my-cart-purchase">
                        Thanh toán
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <div class="nav hide-on-mobile-tablet">
        <ul class="nav-list">
            <li><a href="/" class="nav-item">Trang chủ</a>

            </li>
            <li><a href="" class="nav-item">Cà phê</a>
                <div class="nav-item-info">
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link">Hành trình tách cà phê đậm vị</a></li>
                        <li><a href="" class="nav-link">Cà phê Phúc Long</a></li>
                        <li><a href="" class="nav-link">Nghệ thuật pha chế</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="" class="nav-item">Trà</a>
                <div class="nav-item-info">
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link">Hành trình tách trà đậm vị</a></li>
                        <li><a href="" class="nav-link">lá trà Phúc Long</a></li>
                        <li><a href="" class="nav-link">Cold Brew Tea-Trà ủ Lạnh-Phong cách trà mới</a></li>
                        <li><a href="" class="nav-link">Nghệ thuật pha chế</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="" class="nav-item">Thức uống</a>
                <div class="nav-item-info">
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link">Thức uống</a></li>
                        <li><a href="" class="nav-link">Bánh tráng miệng</a></li>
                        <li><a href="" class="nav-link">Đồ ăn lạnh</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="" class="nav-item">Sản phẩm</a>
                <div class="nav-item-info">
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Trà hộp</a></li>
                        <li><a href="/category/tra-tu-i-lo-c" class="nav-link">Trà túi lộc</a></li>
                        <li><a href="/category/tra-tu-i-tam-gia-c" class="nav-link">Trà túi tam giác</a></li>
                        <li><a href="/category/tra-ho-p-gia-y" class="nav-link">Trà hộp giấy</a></li>
                        <li><a href="/category/le-ho-p" class="nav-link">Lễ hộp</a></li>
                        <li><a href="/category/tra-ho-p-xa-m" class="nav-link">Trà hộp xám</a></li>
                    </ul>

                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Trà gói</a></li>
                        <li><a href="/category/tra-tha-i-nguyen" class="nav-link">Trà Thái Nguyên</a></li>
                        <li><a href="/category/tra-go-i-cao-ca-p" class="nav-link">Trà gói cao cấp</a></li>
                        <li><a href="/category/tra-va-n-ly-huong" class="nav-link">Trà Vạn Lý Hương</a></li>
                        <li><a href="/category/tra-den" class="nav-link">Trà đen</a></li>
                        <li><a href="/category/tra-xanh" class="nav-link">Trà xanh</a></li>
                        <li><a href="/category/tra-la-i" class="nav-link">trà lài</a></li>
                        <li><a href="/category/tra-sen" class="nav-link">Trà sen</a></li>
                    </ul>
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Trà lon</a></li>
                        <li><a href="/category/tra-lon-gia-y" class="nav-link">Trà lon giấy</a></li>
                        <li><a href="/category/tra-lon-gia-y-cao-ca-p" class="nav-link">Trà lon giấy cao cấp</a></li>
                        <li><a href="/category/tra-lon-thie-c" class="nav-link">Trà lon thiếc</a></li>
                        <li><a href="/category/tra-o-long-thuo-ng-ha-ng" class="nav-link">Trà ô long thượng hạng</a>
                        </li>
                    </ul>
                    <ul class="nav-item-info-column">
                        <li><a href="/category/ca-phe-set" class="nav-link">Cà phê set</a></li>
                        <li><a href="/category/ca-phe-phin-nhom" class="nav-link">Cà phê phin nhôm</a></li>
                        <li><a href="/category/ca-phe-mu-i" class="nav-link">cà phê mùi</a></li>
                        <li><a href="/category/ca-phe-ha-t" class="nav-link">cà phê hạt</a></li>
                    </ul>
                    <ul class="nav-item-info-column">
                        <li><a href="/category/ho-p-qua-te-t-2022" class="nav-link">Hộp quà Tết 2022</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="" class="nav-item">Khuyến mãi</a>
            </li>
            <li><a href="" class="nav-item">Về chúng tôi</a>

                <div class="nav-item-info">
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Công ty</a></li>
                        <li><a href="" class="nav-link">Tầm nhìn</a></li>
                        <li><a href="" class="nav-link">Sứ mệnh</a></li>
                        <li><a href="" class="nav-link">Giá trị cốt lõi</a></li>
                        <li><a href="" class="nav-link">Lĩnh vực hoạt động</a></li>
                        <li><a href="" class="nav-link">Trà hộp xám</a></li>
                    </ul>

                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Tuyển dụng</a></li>
                        <li><a href="" class="nav-link">HTCH</a></li>
                        <li><a href="" class="nav-link">Kiosk</a></li>
                        <li><a href="" class="nav-link">Văn phòng</a></li>
                        <li><a href="" class="nav-link">Nhà máy</a></li>
                    </ul>
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Thư viện</a></li>
                        <li><a href="" class="nav-link">hình ảnh</a></li>
                        <li><a href="" class="nav-link">Video</a></li>
                        <li><a href="" class="nav-link">Hồ sơ công bố</a></li>
                        <li><a href="" class="nav-link">Công văn</a></li>
                    </ul>
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link nav-link-title">Liên hệ</a></li>
                        <li><a href="" class="nav-link">Hệ thống cửa hàng Phúc Long COFFEE AND TEA</a></li>
                        <li><a href="" class="nav-link">hệ thống cửa hàng Phúc Long KIOSK</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="" class="nav-item">Thẻ</a>

                <div class="nav-item-info">
                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link">Đăng ký thẻ</a></li>
                        <li><a href="" class="nav-link">Hệ thống chương trình thẻ thành viên</a></li>
                    </ul>

                    <ul class="nav-item-info-column">
                        <li><a href="" class="nav-link">Điều khoản và điều kiện</a></li>
                        <li><a href="" class="nav-link">Điều khoản và điều kiện thẻ cashless</a></li>
                        <li><a href="" class="nav-link">Những câu hỏi thường gặp (FAQ)</a></li>
                    </ul>
                </div>
            </li>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <div class="nav-item-info" style="padding: 0; margin:0; border-radius: 10px">
                    <ul class="nav-item-info-column" style="padding: 0; margin:0">
                        <li><a href="" class="nav-link">Sản phẩm cà phê</a></li>
                        <li><a href="" class="nav-link">Sản phẩm trà</a></li>
                    </ul>
                </div>
            </div>
        </ul>

    </div>
</header>