<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main_page.css">
    <link rel="stylesheet" href="/css/login-signup.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/34f61ed33e.js" crossorigin="anonymous"></script>
    <title>Phúc Long Coffee and Tea</title>
</head>

<body>
    {{>header}}
    
    {{{body}}}

    {{>footer}}
    <script src="/js/slider.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/email.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/validation.js"></script>
    <script>
        Validation('.form-login-signup','.message-error');
        Validation('.footer-signup-form','.message-error');
    </script>
</body>
</html>