<div style="margin-top: 200px">
    <form method="POST" action="save">
    <label for="name">title</label>
    <input type="text" name="title">
    <label for="desc">Giá</label>
    <input type="text" name="price">
    <input type="text" value={{slug}} name="type"/>
    <input type="submit" value="tạo">

</form>
</div>