<!-- Slider -->
    <div class="slider">
        <i class="fa-solid fa-angle-left slider-icon-back" onclick="backSlider()"></i>
        <i class="fa-solid fa-angle-right slider-icon-next" onclick="nextSlider()"></i>
        <a href="/category">
            <img class="sliderImg active" src="/image/slider1.png" alt="slider">
        </a>
        <a href="/category">
            <img class="sliderImg" src="/image/slider2.jpg" alt="slider">
        </a>
        <a href="/category">
            <img class="sliderImg" src="/image/slider3.jpg" alt="slider">
        </a>

    </div>

    <!-- Container -->
    <div class="container">
        <div class="content-item grid">
            <div class="content-img">
                <img src="/image/content-img1.jpg" alt="Thông tin">
            </div>
            <div class="content-body">
                <div class="content-title">
                    TỪ NHỮNG MẦM TRÀ, CHÚNG TÔI TẠO RA NIỀM ĐAM MÊ
                </div>
                <div class="content-description">
                    Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và hạt cà phê thượng hạng cùng
                    mong muốn mang lại cho khách hàng những trải nghiệm giá trị nhất khi thưởng thức, Phúc
                    Long liên tục là thương hiệu tiên phong với nhiều ý tưởng sáng tạo đi đầu trong ngành trà
                    và cà phê.

                    Chúng tôi tin rằng từng sản phẩm trà và cà phê sẽ càng thêm hảo hạng khi được tạo ra từ
                    sự phấn đấu không ngừng cùng niềm đam mê. Và chính kết nối dựa trên niềm tin, sự trung thực và
                    tin yêu sẽ góp phần mang đến những nét đẹp trong văn hóa thưởng trà và cà phê ngày càng bay cao,
                    vươn xa.


                </div>
                <a href="/category" class="content-btn">
                    XEM THÊM
                </a>
            </div>

        </div>

        <div class="address">
            <div class="address-wrap">
                <form class="address-form" action="">
                    <div class="address-form-title">
                        Hệ thống cửa hàng
                    </div>
                    <div class="address-form-content">
                        <select class="address-form-select" name="city" id="city">
                            <option value="">Chọn thành phố</option>
                            <option value="1">Thành phố Hồ Chí Minh</option>
                            <option value="2">Thành phố Đà nẵng</option>
                            <option value="3">Thành phố Hà Nội</option>
                        </select>
                        <select class="address-form-select" name="district" id="district">
                            <option value="">Chọn quận</option>
                            <option value="1">Quận 1</option>
                        </select>
                    </div>
                </form>
                <div class="address-content">
                    <div class="address-title">Địa chỉ cửa hàng</div>
                    <ul class="address-list">
                        <li class="address-item">
                            <i class="fa-solid fa-store address-img"></i>
                            <div class="address-body">
                                <div class="address-place">2 Hải Triều, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh 700000
                                </div>
                                <a href="" class="address-phone">Điện thoại: +842839153333</a>
                            </div>
                            <a href="" class="address-btn">Chỉ đường</a>
                        </li>
                        <li class="address-item">
                            <i class="fa-solid fa-store address-img"></i>
                            <div class="address-body">
                                <div class="address-place">Tầng 4, Saigon Centre, 65 Đ. Lê Lợi, Bến Nghé, Quận 1, Thành
                                    phố
                                    Hồ Chí Minh 70000</div>
                                <a href="" class="address-phone">Điện thoại: +842838228333</a>
                            </div>
                            <a href="" class="address-btn">Chỉ đường</a>
                        </li>
                        <li class="address-item">
                            <i class="fa-solid fa-store address-img"></i>
                            <div class="address-body">
                                <div class="address-place">235 Đ. Nguyễn Văn Cừ, Phường Nguyễn Cư Trinh, Quận 1, Thành
                                    phố
                                    Hồ Chí Minh</div>
                                <a href="" class="address-phone">Điện thoại: +842839262222</a>
                            </div>
                            <a href="" class="address-btn">Chỉ đường</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>