<div class="container-login">
        <form class="form-login" action="">
            <div class="form-title">Đăng nhập làm thành viên Phúc Long</div>
            <label class="form-label" for="email">Email</label>
            <input type="email" name="email" id="email" required class="form-group" placeholder="Nhập email">
            <label class="form-label" for="password">Mật khẩu</label>
            <input type="password" name="password" id="password" required class="form-group" placeholder="Nhập mật khẩu">
            <input class="form-submit" type="submit" value="Đăng nhập">
        </form>
    </div>