<div class="container-login-signup">
    <form class="form-login-signup" method="POST" action="/save">
        <div class="form-title">Đăng ký làm thành viên Phúc Long</div>
        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="email" name="email" id="email" rules="email" class="form-input" placeholder="Nhập email">
            <div class="message-error"></div>
        </div>
        <div class="form-group">
            <label class="form-label" for="name">Họ tên</label>
            <input type="text" name="name" id="name" rules="required" class="form-input" placeholder="Nhập họ tên">
            <div class="message-error"></div>
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Mật khẩu</label>
            <input type="password" name="password" id="password" rules="required" class="form-input"
                placeholder="Nhập mật khẩu">
            <div class="message-error"></div>
        </div>
        <input class="form-submit" type="submit" value="Đăng ký">
        <div class="modal-form">
            <div class="modal-form-container">
                <div class="modal-form-title">Thông tin chưa chính xác. Vui lòng thử lại</div>
                <div class="modal-form-btn">Xác nhận</div>
            </div>
        </div>
    </form>
</div>