*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.full-width{
    width: 100% !important;
}

.grid{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-bottom: -8px;
}

.column{
    padding-top: 8px;
    padding-bottom: 8px;
}

.column-4{
    width: 25%;
}

.red-text{
    color: red !important;
}

