.itinerary-container{
    margin-top: 136px;
}

.itinerary-info{
    width: 60%;
    margin: 0 auto;
    
}

.itinerary-title{
    font-size: 32px;
    color: #0C713D;
    text-align: center;
}

.itinerary-description{
    font-size: 16px;
    margin: 40px 0;
    text-align:justify;
    line-height: 1.6;
}

.itinerary-blog-item{
    margin-bottom: 40px;
}

.itinerary-blog-item-info{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.itinerary-blog-item-title{
    font-size: 24px;
    font-weight: 600;
}

.itinerary-blog-item-description{
    font-size: 20px;
}

.itinerary-blog-item-img{
    flex: 1;
}

.itinerary-blog-item-img img{
    width: 100%;
}