<div class="art-container">
    <div class="art-title">TRÀ XANH LATTE</div>
    <img class="art-img" src="/image/tea/art.jpg" alt="nghệ thuật"></img>
    <div class="art-description">
        <p>Trà xanh Latte là món uống kết hợp giữa trà xanh và sữa tươi. Không lạnh băng như trà xanh đá xay, cũng không
            quá ngậy béo như trà xanh phủ kem tươi, Trà xanh Latte có vị ngon rất riêng. Không quá ngọt, không ngậy béo
            mà đậm hương thơm của trà, hấp dẫn với vị của sữa, đây chính là món uống hoàn hảo cho các tín đồ của trà
            xanh.</p>

        <p>Gợi ý cho bạn cách pha chế Trà xanh Latte cực nhanh siêu ngon đây: Cho sữa tươi vào ấm đun rồi đặt lên bếp
            đun cho đến khi thấy sữa sôi lăn tăn (chứ không sôi trào). Sau đó cho tiếp tục cho bột trà xanh và đường
            vào, dùng máy xay cầm tay đánh đều cho đến khi sữa sủi bọt. Rót Trà xanh Latte ra ly, thêm đá vào và rắc một
            lớp bột trà xanh mỏng lên phía trên là bạn đã có món uống thơm ngon.</p>

        <p>Trà xanh Latte là loại thức uống có rất nhiều công dụng tốt cho sức khỏe. Uống Trà xanh Latte mỗi ngày sẽ
            cung cấp cho cơ thể nguồn dinh dưỡng cao, chống oxi hóa, giúp ngăn ngừa các bệnh ung thư và kéo dài sự trẻ
            trung, giúp tinh thần minh mẫn, ổn định đường huyết, song song đó rất tốt cho người bệnh tiểu đường.</p>

    </div>
</div>