<div class="art-container">
    <img class="art-img" src="/image/tea/coldbrewtea.jpg" alt="nghệ thuật"></img>
    <div class="art-description">
        <p>Thưởng thức Phúc Long Cold Brew Tea sẽ mang đến cảm nhận dễ chịu và sảng khoái cho mọi đối tượng quen lẫn
            không quen sử dụng trà. Nhâm nhi từng hớp Trà Ủ Lạnh, bạn sẽ cảm nhận được vị trà hoà quyện tinh tế cùng sự
            mát lạnh từ quy trình ủ trà nhiệt độ thấp lan toả khắp các giác quan. Vị trà chát nhẹ lúc ban đầu sẽ dần dần
            trở nên dịu êm, lắng đọng lại cảm giác thanh mát khi thưởng thức hết chai trà.</p>

        <p>Không chỉ đóng vai trò là nước giải khát trong mùa hè, Phúc Long Cold Brew Tea còn là thức uống bổ sung năng
            lượng, hạn chế việc hấp thụ chất béo, phù hợp để thưởng thức ở bất kì dịp nào cùng bạn bè. Chai trà thuỷ
            tinh nhỏ gọn với nắp vặn tiện lợi và chắc chắn, phù hợp để mua mang theo thưởng thức ở bất kì thời gian và
            địa điểm nào trong ngày.</p>

        <p>Cùng tận hưởng Trà Ủ Lạnh Phúc Long Cold Brew Tea tươi mát và thanh khiết, thể tích 350ml, với 3 vị: Ô-Long,
            Nõn Tôm và Lài có mặt tại toàn bộ cửa hàng Phúc Long trên toàn quốc.</p>

    </div>
</div>