<div class="information-container grid">
    <ul class="information-tab-list">
        <li class="information-tab-item active">ĐẬM VỊ TRÀ TRUYỀN THỐNG</li>
        <li class="information-tab-item">LỰA CHỌN LOẠI TRÀ</li>
    </ul>
</div>
{{!-- Pane 1 --}}

<div class="information-pane-item grid active">
    <div class="itinerary-blog-container">
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">
                <div class="itinerary-blog-item-description">
                    Một cây trà nếu được trồng ở những vùng đất có độ cao và khí hậu khác nhau thì sẽ thu được những
                    loại trà cũng khác nhau. Có thể thấy sự phức tạp đến từ phía bên trong, từ những thành phần cũng như
                    cấu tạo hoá học độc nhất vô nhị mà chỉ mình cây trà có được. Thấu hiểu điều đó, để giữ trọn vị tươi
                    nguyên, bảo toàn dưỡng chất tốt nhất, một búp và hai lá non thường được chúng tôi thu hái vào thời
                    điểm sáng sớm. Tiếp đến, quy trình sản xuất để cho ra các sản phẩm trà chất lượng cũng được thực
                    hiện khép kín.
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/tea/information1.jpg" alt="Cà phê">
            </div>
        </div>
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">
                <div class="itinerary-blog-item-description">
                    Một cây trà nếu được trồng ở những vùng đất có độ cao và khí hậu khác nhau thì sẽ thu được những
                    loại trà cũng khác nhau. Có thể thấy sự phức tạp đến từ phía bên trong, từ những thành phần cũng như
                    cấu tạo hoá học độc nhất vô nhị mà chỉ mình cây trà có được. Thấu hiểu điều đó, để giữ trọn vị tươi
                    nguyên, bảo toàn dưỡng chất tốt nhất, một búp và hai lá non thường được chúng tôi thu hái vào thời
                    điểm sáng sớm. Tiếp đến, quy trình sản xuất để cho ra các sản phẩm trà chất lượng cũng được thực
                    hiện khép kín.

                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/tea/information2.jpg" alt="Cà phê">
            </div>
        </div>
        <div class="itinerary-blog-item grid">
            <div class="itinerary-blog-item-info">

                <div class="itinerary-blog-item-description">
                    Trong quá trình tìm kiếm từng loại trà thượng hạng, Phúc Long luôn giữ gìn những hợp chất đặc biệt
                    từ lá trà để làm nên tách trà đậm vị.
                    - Theanine (vị ngon) là cảm nhận được trạng thái tỉnh táo, tràn đầy năng lượng khi thưởng thức trà.
                    - Carbohydrate (vị ngọt) là đường tích trữ trong lá trà.
                    - Polyphenols (vị chát) là thành phần đặc biệt có nhiều trong lá trà non.
                    - Caffein (vị đắng) là thành phần bị ảnh hưởng bởi 2 yếu tố: nhiệt độ nước và cách ngâm. Để tiết chế
                    caffein, khi pha nên dùng nước nhiệt độ vừa phải và giảm thời gian ngâm trà.
                    - Enzyme (men) là chất xúc tác sinh học thúc đẩy quá trình lên men của lá trà
                </div>
            </div>
            <div class="itinerary-blog-item-img">
                <img src="/image/tea/information3.jpg" alt="Cà phê">
            </div>
        </div>
    </div>
</div>
{{!-- Pane2 --}}
<div class="information-pane-item">
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/tea/teachoice1.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                TRÀ THIẾT QUAN ÂM
            </div>
            <div class="content-description">
                Tương truyền rằng trong thời loạn lạc người dân Phúc Kiến vẫn một lòng thờ phụng Quan Âm nên được Ơn
                Trên ban cho giống trà thượng hạng toả hương thanh khiết và từ đó cái tên Trà Thiết Quan Âm trở thành
                một nét văn hoá trà đặc sắc của người phương đông.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>

    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/tea/teachoice2.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                TRÀ Ô LONG
            </div>
            <div class="content-description">
                Trà Ô Long được biết đến như một trong những đại danh trà với hương vị tinh tế. Đặc điểm chế biến trà Ô
                Long rất độc đáo với cách thức bán lên men tự nhiên. Sau khi thu hoạch theo nguyên lý một búp và hai lá
                trà non sẽ được ủ lên men, khi thấy màu lá chuyển sang ba phần đỏ, bảy phần đen thì là thời điểm trà
                được sao ủ tốt nhất để có được mùi vị thơm ngon nhất.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
    <div class="content-item grid">
        <div class="content-img">
            <img src="/image/tea/teachoice3.jpg" alt="Thông tin">
        </div>
        <div class="content-body">
            <div class="content-title">
                TRÀ XANH THÁI NGUYÊN
            </div>
            <div class="content-description">
                Trà xanh là loại thức uống truyền thống của người Châu Á từ ngàn xưa đến nay. Từ những đọt trà non xanh
                tươi mơn mởn, trà xanh được chế biến không qua công đoạn lên men nhằm đảm bảo trọn vẹn hương vị thiên
                nhiên trong từng ngụm trà ấm áp. Dư vị trà xanh chát nhẹ nhưng thanh khiết, mang lại phút giây thư giãn
                tuyệt vời.
            </div>
            <a href="" class="content-btn">
                XEM CHI TIẾT
            </a>
        </div>
    </div>
</div>